<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.posti.postilight" android:installLocation="auto" android:versionCode="57" android:versionName="1.0.57">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="33" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
	<uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

	<!-- Request legacy Bluetooth + location permissions on older devices. -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:maxSdkVersion="30" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30" />
	<uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
	<!-- Request Bluetooth permissions on Android 12 and above (location not necessary). -->
	<uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
	<uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
	<application android:label="Postilight" android:icon="@drawable/icon"></application>
</manifest>